body {
  display: flex;
  justify-content: center;
  font-family: Arial;
  flex-direction: column;
}

.form-element {
  margin-bottom: 10px;
}

label {
  text-transform: uppercase;
}

button {
  background: #006aff;
  border: 0;
  padding: 10px;
  color: #fff;
  border-radius: 35px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
